<nav>
    <a class="logo" href="/">
        <div>
            <img src="logo/3logo.png" alt="logo">
        </div>
        <span class="nav-brand-name">Brand Name</span>
    </a>
    <ul class="nav-links">
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/news">News</a>
        </li>
        <li>
            <a href="/videos">Videos</a>
        </li>
        <li>
            <a href="/post">Create a post</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
    </ul>
</nav>