 body{
    background-image: url("logo/tech.jpg");
    background-color: rgb(189, 196, 193);
    background-attachment: fixed;
    
 }

 #tcenter{
     background-color: rgb(3, 25, 73);
     text-align: center;
     border: solid rgb(3, 25, 73);
     border-radius: 10px;
     color: white;

 }

#backg-logo{
    background-image: url("logo/background.jpg");
    background-position: center;
    padding: 25px;
}

.newcon{
    background-color: rgb(197, 195, 195);
    border: solid  rgb(3, 24, 63);
    border-radius: 10px;
    color: rgb(2, 112, 88);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 25px;
   
}
h2 a{
    text-decoration: none;
    overflow: hidden;
}
h2 a:hover{
    display: block;
    color: rgba(30, 102, 33, 0.712);
}

#videos-ul{
    background-color: rgb(189, 196, 193);
    border: solid rgb(3, 24, 63);
    border-radius: 5px;
    float: left;
    padding: 25px;
}
#videos-li{
    float: left;
    background-color: rgb(189, 196, 193);
    border: solid rgb(3, 24, 63);
    border-radius: 7px;
    padding: 25px;
      
}
#videos-text{
    background-color: rgb(189, 196, 193);
    border: solid rgb(3, 24, 63);
    border-radius: 7px;
    padding: 5px;
}
#header-center2{
    text-align: center;
}

#ul1{
    list-style: none;
    margin: 16;
    padding: 16;
    overflow: hidden;
    background-color: rgb(3, 25, 73);
    border-radius: 5px;
    
}
#li1{
    float: left;
}
li a {
    display: block;
    text-align: center;
    padding: 16px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(9, 20, 66);
    border-radius: 5px;
}
li a:hover{
    background-color: rgb(31, 110, 31);
    border-radius: 7px;
    color: rgb(13, 15, 14);
}
#news-img{
    float: left;
    width: 390px;
    padding-right: 10px;
    padding-bottom: 10px; 
}
#img-position{
    width: 200px;
    float: left;
    color: aquamarine;
    text-decoration: none;
}
#p{
    font-size: 20px;
}
#p-home{
    font-size: 20px;
}
#news-page1{
    border: solid rgb(13, 9, 78);
    border-radius: 10px;
    padding: 25px;
    background-color: rgb(189, 196, 193);
    margin: 35px;
    float: none;
}