<%- include('partials/header') %>
<div class="container">
    <div class="container-fluid">

        <a class="wrapper" href="onepuls">
            <div class="image-wrap">
                <img class="image" src="news-pics/OnePlus.jpg" alt="OnePlus photo">
            </div>
            <div>
                <p>
                    OnePlus is bringing another budget phone with 5G to
                    the United States
                </p>
            </div>
        </a>

        <a class="wrapper" href="secrityUpdate">
            <div class="image-wrap">
                <img class="image" src="news-pics/Android-Security-Update.jpg" alt="OnePlus photo">
            </div>
            <div>
                <p>June 2021 security update goes live for Google Pixel phones</p>
            </div>
        </a>

    </div>
</div>