<%- include('partials/header') %>
<div class="container">
    <div class="title">
        <h2>
            June 2021 security update goes live for Google Pixel phones
        </h2>

    </div>
    <div class="container-fluid">
        <div class="new-wrap">
            <div class="image-wrap">
                <img id="news-img" src="news-pics/Android-Security-Update.jpg" alt="OnePlus photo">
            </div>
            <p>
                <b>T</b>oday’s the first Monday of June 2021, which means it’s time for a new Android Security Bulletin
                to
                go
                live. Right on schedule, Google has published the June 2021 Android Security Bulletin. They’ve also
                started
                rolling out new updates to currently supported Pixel phones, though as a bonus, the latest update to
                Pixel
                phones also brings the latest Pixel Feature Drop.

            </p>

            <h2>
                June 2021 Security Update Bulletin
            </h2>
            <p>
                The Android Security Bulletin for the month of June 2021, which can be viewed here, details multiple
                security
                vulnerabilities ranging in severity from high to critical. As we’ve seen in the past, many of the
                disclosed
                vulnerabilities don’t offer additional documentation that explains what is affected and how the patch
                addresses
                the issue. You can read up on how monthly Android security updates work here.
            </p>
        </div>

    </div>
</div>