<%- include('partials/navbar') %>
<div class="container">
    <div class="title">
        <h1>Latest Videos</h1>
    </div>

    <div class="container-fluid">

        <div class="videos-wrap">
            <iframe src="https://www.youtube.com/embed/FADWwx3YcRE" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
            <p>Google's Pixel 6 Series Is Here</p>
        </div>
        <div class="videos-wrap">
            <iframe src="https://www.youtube.com/embed/Qzah6zKJjLM" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
            <p>Android 12 All Features Ans PREVIEW</p>
        </div>

        <div class="videos-wrap">

            <iframe src="https://www.youtube.com/embed/vzP3kUnM8co" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
            <p>Samsung Galaxy Book Pro And 360</p>
        </div>
        <div class="videos-wrap">

            <iframe src="https://www.youtube.com/embed/IevWLMAE5hU" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
            <p>XIAOMI MI Mix FOLD</p>
        </div>
        <div class="videos-wrap">

            <iframe src="https://www.youtube.com/embed/jkRAiQhywTc" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
            <p>2021 iMac ALL YOU NEED TO KNOW</p>
        </div>
        <div class="videos-wrap">

            <iframe src="https://www.youtube.com/embed/VucvSTwYLDs" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>
            <p>UMIDIGI BISON GT</p>
        </div>

    </div>
</div>